<!DOCTYPE html>
<head>
    <title>Sign in</title>
    
</head>
<body bgcolor="black">
    <h1 align = "center"><font color="white"><big>Welcome!</big></font></h1>
    <h3 align = "center"><font color="white"><b>Hello!<b> Enter your </font><font color="lime"><big>username</big></font><font color="white"> in the textbox below ⤦ and click "Submit"</font></h3>
        <form action = "http://localhost:5000/sign_in" method = "post">
            <p align = "center"><font color="white">Enter Username: </font><input type = "text" name = "username" /></p>
            <p align="center"><input type = "submit" value = "Submit" /></p>
         </form>
         <script>
             export {username};
         </script>
</body>
</html>